@import "tailwindcss";
html {
    scroll-behavior: smooth;
}
@keyframes cart-pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.4); }
  100% { transform: scale(1); }
}

.animate-cart-pop {
  animation: cart-pop 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}